//Color Palette
//Primary Color
$orange: #E37C3A;

//Secondary Colors
$yellow: #FCD568;
$black: #222222;
$white: #ecebe9;

//Link color (hover)
$blue: #5CC3EE;

//Situational Colors
$pink:#da7fa9;
$green: #1a580e;