//Color Palette
$sunflower-black: rgba(8,12,0, 1);
$sunflower-black-light: rgb(80, 75, 75);
$sunflower-white: rgb(231, 230, 230);
$sunflower-yellow: #dfb539;
$sunflower-yellow-dark: #f29a2d;
$sunflower-orange: rgba(242,84,26, 1);
$sunflower-orange-dark: rgba(216,73,40, 1);
$sunflower-blue: #79baf2

