@font-face {
    font-family: 'SourceSans';
    src: url('../fonts/SourceSans/sourcesanspro-regular.woff2') format('woff2'),
         url('../fonts/SourceSans/sourcesanspro-regular.woff') format('woff'),
         url('../fonts/SourceSans/sourcesanspro-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: 400;
         font-display: swap; 
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('../fonts/SourceSans/sourcesanspro-bold.woff2') format('woff2'),
         url('../fonts/SourceSans/sourcesanspro-bold.woff') format('woff'),
         url('../fonts/SourceSans/sourcesanspro-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: 400;
         font-display: swap; 
}
@font-face {
    font-family: 'SourceSansLight';
    src: url('../fonts/SourceSans/sourcesanspro-light.woff2') format('woff2'),
         url('../fonts/SourceSans/sourcesanspro-light.woff') format('woff'),
         url('../fonts/SourceSans/sourcesanspro-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: 400;
         font-display: swap; 
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay/playfairdisplay-regular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/playfairdisplay-regular.woff') format('woff'),
         url('../fonts/PlayfairDisplay/playfairdisplay-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: 400;
         font-display: swap; 
}

@font-face {
    font-family: 'PlayfairDisplayBold';
    src: url('../fonts/PlayfairDisplay/playfairdisplay-bold.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/playfairdisplay-bold.woff') format('woff'),
         url('../fonts/PlayfairDisplay/playfairdisplay-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: 400;
         font-display: swap; 
}
