/**
* MAIN SCSS FILE, here all sass base partials are * merged into one file with all mixins and variables
*/
body, html {
    font-family: Verdana, sans-serif;
    letter-spacing: 1.2px;
    background-color: #ffaf37;
}
.fonts-loaded body {
    font-family: 'SourceSans','PlayfairDisplay', Verdana, sans-serif;
}
.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1160px;
  padding-right: 10px;
  padding-left:  10px;
}

@import './base/colors';
@import './base/queries';
@import './base/animations';
@import './base/mixins';


